.home-wrapper {
  /* Home page all pets table card */
  .all-pets-card {
    border: 1px solid black;
    max-width: 700px;
    margin: 3rem auto;
    border-radius: 5px;

    .all-pets-card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.4rem 1rem;
      background-color: var(--header);
      color: var(--white);
    }

    .all-pets-card-body {
      padding: 0.6rem;
    }

    div:nth-of-type(1) {
      font-size: 2rem;
    }
  }
  /* Home page all pets table card */
}
