.all-pets-card {
  border: 1px solid black;
  max-width: 700px;
  margin: 3rem auto;
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.all-pets-card > .all-pets-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  background-color: var(--header);
  color: var(--white);
}

.all-pets-card > .all-pets-card-body {
  padding: 0.6rem;
}

.all-pets-card > div:nth-of-type(1) {
  font-size: 2rem;
}

@media (max-width: 705px) {
  .all-pets-card {
    width: calc(100% - 2rem);
  }
}
