.modal-backdrop {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);

  text-align: start;
  display: flex;
  user-select: text;
  font-family: inherit;
}

.modal-backdrop .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header);
  color: var(--white);
  font-size: 1.875rem;
  padding: 2px 15px;
}

.modal-backdrop .modal-body {
  background-color: var(--white);
  border: 1px solid #888;
  padding: 5px 15px;
  font-size: 1rem;
}

.modal-backdrop .modal-close-header-btn {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}
