.spinner-wrapper {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.loading-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loading-spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: spinner-animation 1.2s linear infinite;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
