:root {
  --primary: #4279e2;
  --success: #2cb83a;
  --warning: #d09234;
  --danger: #b91f1f;
  --header: #6461fe;
  --secondary: #8a8686;
  --white: #ffffff;
  --black: #000000;
  --locked: #ede8e8;
}

/* Buttons */
.btn {
  display: flex;
  justify-content: center;

  border: 1px solid var(--black);
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  color: var(--white);
}

.btn-primary {
  background-color: var(--primary);
}

.btn-success {
  background-color: var(--success);
}

.btn-warning {
  background-color: var(--warning);
}

.btn-danger {
  background-color: var(--danger);
}

.btn-secondary {
  background-color: var(--secondary);
}

/* Main page data card */
.data-card {
  border: 1px solid black;
  max-width: 700px;
  margin: 3rem auto;
  border-radius: 5px;
}

.data-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-color: var(--header);
  color: var(--white);
}

.data-card-header > div:nth-of-type(1) {
  font-size: 30px;
}

.data-card-body {
  padding: 10px;
}

/* Table */
table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-weight: normal;
}

td {
  padding: 3px 10px;
}

td:nth-child(5) > div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

td:nth-child(5) > div > button {
  width: 100%;
  font-size: 12px;
}

tr > th:nth-of-type(1) {
  width: 5%;
}

tr > th:nth-of-type(2) {
  width: 20%;
}

tr > th:nth-of-type(3) {
  width: 25%;
}

tr > th:nth-of-type(4) {
  width: 15%;
}

@media (max-width: 705px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid black;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    left: 6px;
    width: 45%;
  }

  td:nth-of-type(1):before {
    content: '#';
  }
  td:nth-of-type(2):before {
    content: 'Name';
  }
  td:nth-of-type(3):before {
    content: 'Added date';
  }
  td:nth-of-type(4):before {
    content: 'Kind';
  }
}

@media (max-width: 476px) {
  td:nth-child(5) {
    padding: 5px 15px;
  }
}

/* Add/View/Edit pet modal */
.pet-modal {
  padding-top: 10rem;
}

.pet-modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-row > input {
  flex-basis: 100%;
}

.pet-modal-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.pet-modal-buttons > button:nth-child(1),
.pet-modal-buttons > button:nth-child(2) {
  flex-basis: 50%;
}

/* Delete modal */
.delete-modal {
  padding-top: 17rem;
}

.delete-modal-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 30px;
  margin-top: 10px;
}

.delete-modal-buttons > button:first-child {
  flex-basis: 30%;
}

.delete-modal-body {
  padding: 5px 15px;
}

/* Base modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header);
  color: var(--white);
  font-size: 30px;
  padding: 2px 15px;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  max-width: 30rem;
}

.modal-close {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 400px) {
  .pet-modal-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .delete-modal-buttons button:first-child {
    flex: 1;
  }
}

@media (max-width: 300px) {
  .delete-modal-buttons {
    flex-direction: column;
    gap: 10px;
  }
}

/* Submit spinner */
.submit-spinner {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.submit-spinner:after {
  content: ' ';
  display: block;
  margin-top: -3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spinner-animation 1.2s linear infinite;
}

/* Loading content spinner */
.spinner-wrapper {
  display: none;
  justify-content: center;
  margin: 15px;
}

.loading-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loading-spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: spinner-animation 1.2s linear infinite;
}

/* Spinners animation */
@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* System */
.system-error-message {
  display: none;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--danger);
}

#add-pet-btn:disabled {
  opacity: 0.5;
}
