@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #4279e2;
  --success: #2cb83a;
  --warning: #d09234;
  --danger: #b91f1f;
  --header: #6461fe;
  --secondary: #8a8686;
  --white: #ffffff;
  --black: #000000;
  --locked: #ede8e8;
}

/* Buttons */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid var(--black);
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  color: var(--white);
}

.btn-primary {
  background-color: var(--primary);
}

.btn-success {
  background-color: var(--success);
}

.btn-warning {
  background-color: var(--warning);
}

.btn-danger {
  background-color: var(--danger);
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn:disabled {
  opacity: 0.5;
}
/* Buttons */

/* Submit button spinner */
.submit-spinner {
  width: 10px;
  height: 10px;
}

.submit-spinner:after {
  content: ' ';
  display: block;
  margin-top: -3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 8px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spinner-animation 1.2s linear infinite;
}
/* Submit button spinner */
