@import 'variables';

.btn {
  display: flex;
  justify-content: center;

  border: 1px solid $black-color;
  border-radius: 5px;

  padding: 0.5rem 1.3rem;
  color: $white-color;
  cursor: pointer;
}

.btn-primary {
  background-color: $primary-color;
}

.btn-success {
  background-color: $success-color;
}

.btn-warning {
  background-color: $warning-color;
}

.btn-danger {
  background-color: $danger-color;
}

.btn-secondary {
  background-color: $secondary-color;
}

button:disabled {
  opacity: 0.5;
}
