$primary-color: #4279e2;
$success-color: #2cb83a;
$warning-color: #d09234;
$danger-color: #b91f1f;
$secondary-color: #8a8686;

$header-color: #6461fe;
$locked-color: #ede8e8;

$white-color: #ffffff;
$black-color: #000000;
